*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
}
.app-div{
    display: flex;
    justify-content: center;
    margin: 5rem;
    width: 80vw;
    
}